@{
    ViewData["Title"] = "Kontext";
    Layout = "_LayoutNoPadding";
    ViewBag.HideStickyNavBar = true;
}
@inject IConfigService ConfigService
@await Html.PartialAsync("_HomePageJumbotron")
<div class="container-fluid mt-2">

    <div class="btn-group btn-group-lg nav nav-pills justify-content-center mb-3 sticky-top" role="tablist" id="pills-tab">
        <a class="btn btn-secondary active" id="pills-latestposts-tab" href="#pills-latestposts" role="tab" data-toggle="pill" aria-controls="pills-dropdown1"><i class="fa fa-list text-success"></i> @SharedLocalizer["Latest posts"] <span class="badge badge-success">@ConfigService.BlogConfig.HomePageBlogLatestPostCount</span></a>
        <a class="btn btn-secondary" id="pills-hotestposts-tab" href="#pills-hotestposts" role="tab" data-toggle="pill" aria-controls="pills-dropdown2"><i class="fa fa-fire text-warning"></i> @SharedLocalizer["Most-viewed posts"] <span class="badge badge-warning">@ConfigService.BlogConfig.HomePageBlogLatestPostCount</span></a>
        <a class="btn btn-secondary" id="pills-comments-tab" data-toggle="pill" href="#pills-comments" role="tab" aria-controls="pills-home" aria-expanded="true"><i class="fa fa-comments"></i> @SharedLocalizer["Latest comments"] <span class="badge badge-secondary">@ConfigService.BlogConfig.HomePageBlogLatestCommentCount</span></a>
        <a class="btn btn-secondary" href="@Url.RssLink(Context.Request.Scheme)" target="_blank">
            <i class="fa fa-rss-square"></i> RSS
        </a>
    </div>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-latestposts" role="tabpanel" aria-labelledby="pills-latestposts-tab">
            @await Component.InvokeAsync("BlogPostList")
        </div>
        <div class="tab-pane fade" id="pills-hotestposts" role="tabpanel" aria-labelledby="pills-hotestposts-tab">@await Component.InvokeAsync("BlogPostList", new { type = "Hottest" })</div>
        <div class="tab-pane fade" id="pills-comments" role="tabpanel" aria-labelledby="pills-comments-tab">
            @await Component.InvokeAsync("BlogPostCommentList", new { type = "HomePage", viewName = "HomePage" })
        </div>
    </div>


</div>

